// home组件样式
.home{
  width: 100%;
  position :relative;
  // 设置的是首页轮播图的样式
  .homePho{
    width: 100%;
    height:1.1rem;
    .am-wingblank.am-wingblank-lg{
      height:100%;
      margin-left: 0 !important;
      margin-right: 0 !important;
      .slider.am-carousel{
        height: 100% !important;
        width: 100% !important; 
        .slider-frame{
          width:100% !important;
          height:100% !important;
          .slider-list{
            width:100% !important;
            height:100% !important;
            .slider-slide{
              width:100% !important;
              height:100% !important;
              a{
                width:100% !important;
                height:100% !important;
                img{
                  display: block !important;
                  width:100% !important;
                  height:100% !important;
                }
              }
            }
          }
        }
        // 小圆点样式
        .slider-decorator-0{
          bottom:0.03rem !important;
          right:0.02rem !important;
          width:30% !important;
        }
      }
    }
  }
  // 设置的是图标的样式
  .homeCho{
    widows: 100%;
    height: 1.546rem;
    // 设置的是图标上半部分
    .homeChoTop{
      width:100%;
      height:0.768rem;
      .homeChoTopUl{
        width:100%;
        height:100%;
        .homeChoTopItem{
          width: 20%;
          height:100%;
          float: left;
          a{
            width: 100%;
            height:100%;
            img{
              width: 100%;
              height:100%;
            }
          }
        }
      }
    }
    // 设置的是图标下半部分
    .homeChoBottom{
      width:100%;
      height:0.768rem;
      .homeChoBottomUl{
        width:100%;
        height:100%;
        .homeChoBottomItem{
          width: 20%;
          height:100%;
          float: left;
          a{
            width: 100%;
            height:100%;
            img{
              width: 100%;
              height:100%;
            }
          }
        }
      }
    }
  }

  // 设置的是其余部分
  .homeSec{
    width:100%;
    //height: 30rem;
    background-color: pink;
    // 今日秒杀样式
    .homeSecSeck{
      width: 100%;
      height:2.8rem;
      .homeSecSeckTitle{
        width: 100%;
        height:0.41rem;
        position: relative;
        a{
          width: 100%;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .homeSecSeckTitleMore{
          display: block;
          width:0.35rem;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          overflow: hidden;
          text-indent: -99rem;
        }
      }
      .homeSecSeckCont{
        width: 100%;
        height: 2.29rem;
        // 倒计时样式
        .homeSecSeckContSed{
          width: 100%;
          display: block;
          padding: .05rem 0 0.2rem 0;
          .homeSSCSedTime{
            width: 100%;
            height: 0.25rem;
            display: block;
            text-align: center;
            line-height: 0.25rem;
            font-size: 0.2rem;
            font-weight: 700;
          }
        }
        // 内容区样式
        .homeSSCSedCon{
          width: 100%;
          height:1.8rem;
          overflow: hidden;
          .homeSSCSedConUl{
            width: 100%;
            height: 100%;
            display: flex;
            .homeSSCSedConItem{
              width: 1.06rem;
              height: 100%;
              float: left;
              a{
                padding: 0 0.02rem;
                display: block;
                .pic{
                  display: block;
                  width: 0.96rem;
                  height: 0.96rem;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
                .name{
                  font-size: 0.01rem;
                  margin-top: 0.096rem;
                  color: #323232;
                  height: 0.26rem;
                  overflow: hidden;
                  text-overflow: ellipsis;          
                }
                .price{
                  padding: 0.03rem 0 0.08rem 0;
                  .rob{
                    width: 0.96rem;
                    height: 0.352rem;
                    display: block;
                    .num{
                      display: block;
                      font-size: 0.14rem;
                      color: #f3344a;
                    }
                    .oldNum{
                      overflow: hidden;
                      font-size: 0.1rem;
                      color: #bababa;
                      text-decoration: line-through;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    // 学习专场样式
    .homeSecStudy{
      width: 100%;
      height:1rem;
      border-top: .2rem solid pink;
      border-bottom: .2rem solid pink;
      a{
        width: 100%;
        height: 100%;
        img{
          width:100%;
          height: 100%;
          display: block;
        }
      }
    }

    // 图书城样式
    .homeSecBook{
      width: 100%;
      //height:6.35rem;
      border-bottom: 0.1rem solid #eee;
      // 图书城的头部样式
      .homeSecBookHead{
        width: 100%;
        height: 1.62rem;
        .homeSecBookHeadTitle{
          width: 100%;
          height: 0.62rem;
          .homeSecBookHeadTitleTit{
            width: 100%;
            height: 0.41rem;
            img{
              width: 100%;
              height: 100%;
              display: block;
            }
          }
          .homeSecBookHeadTitleSub{
            width: 100%;
            height: 0.21rem;
            display: block;
            font-size: 0;
            line-height: 0;
            text-align: center;
            overflow: hidden;
            li{
              display: inline-block;
              line-height: 0.21rem;
              margin-right: 0.05rem;
              position: relative;
              a{
                display: block;
                color:#323232;
                font-size: 0.12rem;
                padding-right: 0.168rem;
                position: relative;
                i{
                  display: block;
                  height: 100%;
                  width: 0.168rem;
                  line-height: 0.21rem;
                  position: absolute;
                  right: 0;
                  top: -0.005rem;
                  font-size: 0.12rem;
                }
              }
            }
          }
        }
        .homeSecBookHeadImg{
          width: 100%;
          height: 1rem;
          a{
            width: 100%;
            height: 100%;
            img{
              width: 100%;
              height: 100%;
              display: block;
            }
          }
        }
      }
      // 图书城的内容区
      .homeSecBookCont{
        width: 100%;
        display: block;
        .homeSecBookContList{
          width: 100%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          overflow: hidden;
          .homeSecBookContItem{
            width: 1.24rem;
            height: 1.56rem;
            border-right: 1px solid #eff4fa;
            border-bottom: 1px solid #eff4fa;
            a{
              display: block;
              background-color: #fff;
              position: relative;
              height: 100%;
              overflow: hidden;
              text-align: center;
              .title{
                display: block;
                padding: 0.156rem 0.1rem 0 0.1rem;
                text-align: center;
                b{
                  display: block;
                  height: 0.16rem;
                  overflow: hidden;
                  word-break: break-all;
                  font-weight: normal;
                  color: #323232;
                  font-size: 0.13rem;
                  line-height: 0.16rem;
                }
                i{
                  display: block;
                  height: 0.14rem;
                  overflow: hidden;
                  font-size: 0.12rem;
                  line-height: 0.14rem;
                  margin-top: 0.012rem;   
                }
              }
              .img{
                width: 100%;
                height: 1rem;
                display: block;
                position: absolute;
                img{
                  width: 1rem;
                  height: 1rem;
                  margin: 0 auto;
                }
              }
            }
          }
        }
      }

    }

    // 服装鞋包样式
    .homeSecClo{
      width: 100%;
      height:5.6rem;
      background-color: skyblue;
      // 图书城的头部样式
      .homeSecCloHead{
        width: 100%;
        height: 1.62rem;
        .homeSecCloHeadTitle{
          width: 100%;
          height: 0.62rem;
          .homeSecCloHeadTitleTit{
            width: 100%;
            height: 0.41rem;
            img{
              width: 100%;
              height: 100%;
              display: block;
            }
          }
          .homeSecCloHeadTitleSub{
            width: 100%;
            height: 0.21rem;
            display: block;
            font-size: 0;
            line-height: 0;
            text-align: center;
            overflow: hidden;
            li{
              display: inline-block;
              line-height: 0.21rem;
              margin-right: 0.05rem;
              position: relative;
              a{
                display: block;
                color:#323232;
                font-size: 0.12rem;
                padding-right: 0.168rem;
                position: relative;
                i{
                  display: block;
                  height: 100%;
                  width: 0.168rem;
                  line-height: 0.21rem;
                  position: absolute;
                  right: 0;
                  top: -0.005rem;
                  font-size: 0.12rem;
                }
              }
            }
          }
        }
        .homeSecCloHeadImg{
          width: 100%;
          height: 1rem;
          a{
            width: 100%;
            height: 100%;
            img{
              width: 100%;
              height: 100%;
              display: block;
            }
          }
        }
      }
      // 内容样式
      .homeSecCloCont{
        width: 100%;
        .homeSecCloContTop{
          width: 100%;
          height: 1.72rem;
          // 设置的是内容头部左侧的样式
          .homeSecCloContTopLeft{
            width: 1.87rem;
            height: 100%;
            border-bottom: 1px solid #eee;
            border-right: 1px solid #eee;
            a{
              width: 100%;
              height:100%;
              display: block;
              position: relative;
              .left{
                display: table;
                height: 100%;
                padding: 0.084rem 0.1rem 0 0.1rem;
                .title{
                  vertical-align: middle;
                  font-size: 0;
                  b{
                    display: block;
                    height: 0.168rem;
                    overflow: hidden;
                    word-break: break-all;
                    font-weight: normal;
                    color: #323232;
                    font-size: 0.13rem;
                    line-height: 0.168rem;
                  }
                  i{
                    display: block;
                    height: 0.144rem;
                    overflow: hidden;
                    word-break: break-all;
                    line-height: 0.144rem;
                    margin-top: 0.024rem;
                    font-size: 0.12rem;
                  }
                }
                .img{
                  width: 1.21rem;
                  height: 1.21rem;
                  position: absolute;
                  bottom: 0.02rem;
                  right: 0.02rem;
                  z-index: 2 ;
                  display: block;
                  img{
                    width: 100%;
                    height: 100%;
                    border: 0 none;
                    vertical-align: middle;
                  }
                }
              }
            }
          }
          // 设置内容的头部右侧样式
          .right{
            width: 1.87rem;
            height: 1.72rem;
            float: left;
            overflow: hidden;
            .rightTop{
              width: 100%;
              height: 0.86rem;
              a{
                width: 100%;
                height: 100%;
                display: block;
                background-color: #fff;
                position: relative;
                .textWrap{
                  display: table;
                  padding: 0.03rem 0.8rem 0.03rem 0.1rem;
                  height: 100%;
                  box-sizing: border-box;
                  .title{
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 0;
                    b{
                      display: block;
                      height: 0.168rem;
                      overflow: hidden;
                      word-break: break-all;
                      font-weight: normal;
                      color: #323232;
                      font-size: 0.14rem;
                      line-height: 0.168rem;
                    }
                    i{
                      display: block;
                      height: 0.144rem;
                      overflow: hidden;
                      word-break: break-all;
                      font-size: 0.12rem;
                      margin-top:0.024rem;
                    }
                  }
                }
                .img{
                  position: absolute;
                  bottom: 0.08rem;
                  right: 0.06rem;
                  display: block;
                  width: 0.79rem;
                  height: 0.79rem;
                  z-index: 2;
                  img{
                    width: 100%;
                    height: 100%;
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
    
    // 聚食惠样式
    .homeSecFood{
      width: 100%;
      height:3.88rem;
      background-color: #eee;
      border-bottom: 0.5rem solid transparent;
      // 图书城的头部样式
      .homeSecFoodHead{
        width: 100%;
        height: 1.62rem;
        .homeSecFoodHeadTitle{
          width: 100%;
          height: 0.62rem;
          .homeSecFoodHeadTitleTit{
            width: 100%;
            height: 0.41rem;
            img{
              width: 100%;
              height: 100%;
              display: block;
            }
          }
          .homeSecFoodHeadTitleSub{
            width: 100%;
            height: 0.21rem;
            display: block;
            font-size: 0;
            line-height: 0;
            text-align: center;
            overflow: hidden;
            li{
              display: inline-block;
              line-height: 0.21rem;
              margin-right: 0.05rem;
              position: relative;
              a{
                display: block;
                color:#323232;
                font-size: 0.12rem;
                padding-right: 0.168rem;
                position: relative;
                i{
                  display: block;
                  height: 100%;
                  width: 0.168rem;
                  line-height: 0.21rem;
                  position: absolute;
                  right: 0;
                  top: -0.005rem;
                  font-size: 0.12rem;
                }
              }
            }
          }
        }
        .homeSecFoodHeadImg{
          width: 100%;
          height: 1rem;
          a{
            width: 100%;
            height: 100%;
            img{
              width: 100%;
              height: 100%;
              display: block;
            }
          }
        }
      }
      // 内容样式

    }
    
  }
  
}
 
